/* Indice 
1
1.1
2 Pagina Recuperar contraseña
3
4
5 */

* {
    box-sizing: border-box;
    
}
body{
    margin: 0%;
    background-color: black;
    color: white;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.header{
    background-color: black;
    color: white;
}

header h1 {
    text-align: center;
    font-family: Bahnschrift Condensed;
    font-size: 70px;
}
header p{
    text-align: center;
    font-size: 30px;
}
.header .menu{
    text-align: right;
    font-size: 20px;
    margin-right: 3%;
    margin-top: 3%;
    
}
a {
    color: rgba(238, 14, 14, 0.856);
}


.personal,.text-index{
    float: left;
    margin-left: 4%;
    margin-top: 3%;
    text-align: justify;
    
    
}
.foto{
    background-color: black;
}
.foto img{
    margin-left: 15%;
    width: 70%;
    
}
.footer{
    background-color: rgb(68, 58, 58);
}




/*celular*/
@media only screen and (max-width: 480px){
[class*="col-"] {
    width: 100%;
}
}
@media only screen and (min-width: 481px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}